{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "overrides": [
      {
          "files": "*.css",
          "options": {
              "singleQuote": false
          }
      }
  ]
}