@import "normalize.css";

.main {
    padding: 20px;
}
.ticker {
    overflow: auto;
    padding: 20px;
    width: 100%;
}
.ticker__table {
    border-collapse: collapse;
    border: 1px solid #999;
    width: 100%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto;
}
.ticker__table__title,
.ticker__table__cell {
    padding: 10px 14px;
    font: normal 14px Arial;
    text-align: right;
}
.ticker__table__cell:nth-child(1) {
  font-weight: bold;
}
.ticker__table__title:nth-child(1),
.ticker__table__cell:nth-child(1),
.ticker__table__title:nth-child(2),
.ticker__table__cell:nth-child(2) {
    text-align: left;
}
.ticker__table__row {
    background: #fefefe;
    transition: background 0.35s linear;
    cursor: default;
}
.ticker__table__row:nth-child(even) {
    background: #ededed;
}
.ticker__table__row:hover {
    background: #cdcdcd;
}
.ticker__table__row.ticker__table__row--decrease td:nth-child(3),
.ticker__table__row.ticker__table__row--decrease td:nth-child(4),
.ticker__table__row.ticker__table__row--decrease td:nth-child(5) {
  background: rgba(255,228,225,0.75);
}
.ticker__table__row.ticker__table__row--increase td:nth-child(3),
.ticker__table__row.ticker__table__row--increase td:nth-child(4),
.ticker__table__row.ticker__table__row--increase td:nth-child(5) {
  background: honeydew;
}
.ticker__table__row.ticker__table__row--decrease:hover td:nth-child(3),
.ticker__table__row.ticker__table__row--decrease:hover td:nth-child(4),
.ticker__table__row.ticker__table__row--decrease:hover td:nth-child(5) {
  background: rgba(240,255,240, 0.75);
}
.ticker__table__row.ticker__table__row--increase:hover td:nth-child(3),
.ticker__table__row.ticker__table__row--increase:hover td:nth-child(4),
.ticker__table__row.ticker__table__row--increase:hover td:nth-child(5) {
  background: rgba(240,255,240, 0.5);
}
.ticker__table__title {
    color: white;
    background: #4c4c4c;
    background: linear-gradient(
        to bottom,
        #4c4c4c 0%,
        #595959 12%,
        #666666 25%,
        #474747 39%,
        #2c2c2c 50%,
        black 51%,
        #111111 60%,
        #2b2b2b 76%,
        #1c1c1c 91%,
        #131313 100%
    );
    position: relative;
}
.ticker__table__title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: white;
    opacity: 0.3;
}
.ticker__table__title span,
.ticker__table__cell span {
  display: block;
}
.ticker__table__cell {
    border: 1px solid #999;
    position: relative;
    transition: background 0.35s linear;
}
.ticker__table__title:nth-child(3) span,
.ticker__table__title:nth-child(4) span {
  min-width: 60px;
}
.ticker__table__title:nth-child(5) span {
  min-width: 80px;
}
.ticker__table__cell--updated {
    background: honeydew;
}
.animate-in,
.animate-out {
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: both;
  position: absolute;
  top: 10px;
  right: 14px;   
}
.animate-in {
  animation-name: animate-in;
}
.animate-out {
  animation-name: animate-out;
}

@keyframes animate-in {  
  0%   { 
    transform: translateY(-100%);
    opacity: 0;
  }
  100% { 
    transform: translateY(0%); 
    opacity: 1;
  }
}
@keyframes animate-out {
  0%   { 
    transform: translateY(0%) scale(1); 
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% { 
    transform: translateY(200%) scale(.75); 
    opacity: 0;
  }
}

.ticker__canvas {
  border: 1px solid #999;
  border-top: none;
  margin: 0 auto;
  display: block;
  height: 300px;
  width: 100%;
  min-width: 600px;
  max-width: 1200px;
  box-sizing: border-box;
}